<div class="tabbable-panel">
  <div class="tabbable-line">
	  <ul class="nav nav-tabs ">
  		<li class="active">
  			<a href="#tab_default_1" data-toggle="tab">Registro</a>
  		</li>
  		<li>
  			<a href="#tab_default_2" data-toggle="tab">Jugadores</a>
  		</li>
  		<li>
  			<a href="#tab_default_3" data-toggle="tab">Propiedades</a>
  		</li>
      <li>
  			<a href="#tab_default_4" data-toggle="tab">Transaccion</a>
  		</li>
    </ul>
		<div class="tab-content">
			<div class="tab-pane active" id="tab_default_1">
				<div class="container-fluid">
				  <div class="row">
				    <div class="col-xs-12">
				      <form ng-submit="vm.preSave(vm.user)" autocomplete="off" novalidate>
                <div class="form-group col-xs-12 col-sm-6">
                  <label for="usr">Código</label>
                  <input type="text" class="form-control" ng-model="vm.user.id">
                </div>
                <div class="form-group col-xs-12 col-sm-6">
                  <label for="usr">Alias</label>
                  <input type="text" class="form-control" ng-model="vm.user.alias">
                </div>
                <div class="form-group col-xs-12 col-sm-6">
                  <label for="usr">Nombre completo</label>
                  <input type="text" class="form-control" ng-model="vm.user.name">
                </div>
                <div class="form-group col-xs-12 col-sm-6">
                  <input type="file" name="photo" id="photo" ng-model="vm.user.photo">
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <button type="submit" class="btn btn-danger" ng-click="vm.reset()">Registrar</button>
                  </div>
                </div>
				      </form>
				    </div>
				  </div>
				</div>
			</div>
			<div class="tab-pane" id="tab_default_2">
        <div class="container-fluid">
          <div class="row">
            <div class="card col-sm-3 col-xs-12" ng-repeat="user in vm.users">
              <div class="list mb-2">
                <div class="list-header">
                  <a href="#" class="list-header-image">
                    <img src="{{user.photo}}" height="150px">
                  </a>
                </div>
                <div class="list-content">
                  <h4 class="text-black">{{user.alias}}</h4>
                  <span class="list-meta">
                    <span class="list-meta-item">{{user.name}}</span>
                  </span>
                  <p>ID: {{user.id}}</p>
                  <p>Dinero: ${{user.money}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
			<div class="tab-pane" id="tab_default_3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-3 col-xs-12" ng-repeat="property in vm.properties">
              <div class="panel panel-danger">
                <div class="panel-heading">{{property.name}}</div>
                <div class="panel-body">
                  <p>Costo: ${{property.price}}</p>
                  <p>Dueño: <span ng-if="property.ownedby == -1">Propiedad disponible</span><span ng-if="property.ownedby !== -1">{{property.ownedby}}</span></p>
                  <p>Hipotecado: <span ng-if="property.mortgaged == false">NO</span><span ng-if="property.mortgaged == true">SI</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab_default_4">
			  <div class="container-fluid">
			    <div class="row">
			      <div class="col-xs-12">
			        <form ng-submit="vm.transaction(vm.info)" autocomplete="off" novalidate>
                <div class="form-group col-xs-12 col-sm-6">
                  <label for="usr">Comprador</label>
                  <input list="buyerList" type="text" class="form-control" ng-model="vm.info.buyer">
                  <datalist id="buyerList">
                    <option invalide>--Selecione un comprador--</option>
                    <option ng-repeat="user in vm.users" value="{{user.alias}}">{{user.alias}}</option>
                  </datalist>
                </div>
                <div class="form-group col-xs-12 col-sm-6">
                  <label for="usr">Propiedad</label>
                  <input list="propertyList" type="text" class="form-control" ng-model="vm.info.property">
                  <datalist id="propertyList">
                    <option invalide>--Selecione una propiedad--</option>
                    <option ng-repeat="property in vm.properties" value="{{property.name}}">{{property.name}}</option>
                  </datalist>
                </div>
                <button type="submit" class="btn btn-danger" ng-click="vm.reset()">Comprar</button>
			        </form>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
  </div>
</div>
